
body{
	background: #e2e1e0;
		font-family: Roboto, sans-serif;
}

h1 {
	color: #000;
	text-align: center;
}

a {
    color: hotpink;
}

a:link {
    text-decoration: none;
}


.spacer {
	height: 20px;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%
}

.container {
	max-width: 500px;
	margin: 0 auto;

}

.menu-container {
	margin: 0 auto;
	background: #333333;

}
.header {
	margin: 0 auto;

}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

.cardHeader {
	font-family: Roboto Condensed, sans-serif;
	font-size: 20px;
	font-weight: 100;
	text-align: right;
	text-transform: uppercase;
	color: #FFF;
	background: #FF5435 url('../img/cardheader.png') no-repeat center;
	height: 57px;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}


/* HEADER */
#atmo_icon {
	font-size: 100px;
	text-align: left;
	width: 49%;
	position: absolute;
}

.atmotext {
	font-family: Roboto Condensed, sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 1% 35% 10% 0%;
	margin: -10% 0% 0% 0%;
}

.weatherIcon {
	text-align: center;
	padding-left: 40px;
}

.solDateInfo {
	width:	65%;
	padding: 0% 4% 0% 0%;
}
.solArrow{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-shadow: 0px 0px 7px #555;
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	background: #cc1e2c;
	margin: 0% 0% 0% 45%;
	-webkit-user-select: none;
}

/* CARD INFORMATION*/
.cd-body {
	background: #FFF;
	border-radius: 2px;
	display: inline-block;
	height: 450px;
	margin: 1rem;
	position: relative;
	width: 300px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.cd-body:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.20), 0 5px 7px rgba(0,0,0,0.22);
}

.valueText {
	font-size: 16px;
}

.attText {
	font-size: 10px;
	font-family: Roboto Condensed, sans-serif;

}

.solarDay {
	text-align: center;
	font-size: 16px;
}

.solarDayIcon {
	text-align: center;
	font-size: 40px;
}

.unitButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px #555;
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  background: #cc1e2c;
-webkit-user-select: none;
}

.roverImg {
  border-radius: 0%;
  box-shadow: 0px 0px 7px #555;
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  background: #cc1e2c;
  margin-top: 10%;
  padding: 0% 2% 0% 2%;
}


/*Responsive */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: center;
  	align-items: center;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

.span75 {
	width: 80%;
	text-align: right;
	padding: 10px 0px 0px 0px;
}

.span50 {
	width: 49%;
	text-align: center;
}

.span20 {
	width: 20%;
	text-align: center;
	padding: 10px 0px 0px 0px;
}
/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
/*
@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}*/




